@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Playfair+Display:wght@700&family=Poppins:wght@400;500;600&display=swap");

:root {
  --p-color: #f69110;
  /* --s-color: #0071bc; */
  --b-color: #000000;
  --w-color: #ffffff;
  /* --pr-color: #160629; */
  /* --dg-color: #5e5c5c; */
}

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

a {
    text-decoration: none
}

li {
    list-style: none
}

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden
}

:focus-visible {
    outline: inherit
}

button {
    cursor: pointer
}