@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Playfair+Display:wght@700&family=Poppins:wght@400;500;600&display=swap");

:root {
  --p-color: #f69110;
  --b-color: #000000;
  --w-color: #ffffff;
  --p-fonts: "Playfair+Display", sans-serif;
  --s-fonts: "Montserrat", sans-serif;
  --b-fonts: "Poppins", sans-serif;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1180px;
  }
}

:focus-visible {
  outline: inherit;
}

button {
  cursor: pointer;
}

.border-r {
  border-right: 1px solid #ddd;
}

.border-l {
  border-left: 1px solid #ddd;
}
