@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Playfair+Display:wght@700&family=Poppins:wght@400;500;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  --p-color: #f69110;
  --b-color: #000000;
  --w-color: #ffffff;
  --dg-color: #5e5c5c;
  --g-color: #434343;
  --p-fonts: "Playfair+Display", sans-serif;
  --s-fonts: "Montserrat", sans-serif;
  --b-fonts: "Poppins", sans-serif;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
}

li {
  list-style: none;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1180px;
  }
}

:focus-visible {
  outline: inherit;
}

button {
  cursor: pointer;
}

.border-r {
  border-right: 1px solid #ddd;
}

.border-l {
  border-left: 1px solid #ddd;
}

.border-btm {
  border-bottom: 1px solid var(--dg-color);
}

.f-uppercase {
  text-transform: uppercase;
}

/* scrollbar */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f69110;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f69110;
}

/* fontfamilys */
.f-montserrat {
  font-family: "Montserrat", sans-serif;
}
.f-poppins {
  font-family: "Poppins", sans-serif;
}
.f-playfair {
  font-family: "Playfair Display", serif;
}
.f-bebas {
  font-family: "Bebas Neue", sans-serif;
}

/* fontweight */
.f-400 {
  font-weight: 400;
}
.f-500 {
  font-weight: 500;
}
.f-600 {
  font-weight: 600;
}
.f-700 {
  font-weight: 700;
}

/* fontsizes */
.f-20 {
  font-size: 20px;
}
.f-12 {
  font-size: 12px;
}
.f-14 {
  font-size: 14px;
}
.f-16 {
  font-size: 16px;
}
.f-17 {
  font-size: 17px;
}
.f-18 {
  font-size: 18px;
}
.f-28 {
  font-size: 28px;
}
.f-30 {
  font-size: 30px;
}
.f-50 {
  font-size: 50px;
}
.f-60 {
  font-size: 60px;
}

/* lineheight */
.lheight24 {
  line-height: 24px;
}
.lheight70 {
  line-height: 70px;
}
.lheight60 {
  line-height: 60px;
}
.lheight23 {
  line-height: 23px;
}

/* textalign */
.t-center {
  text-align: center;
}
.t-left {
  text-align: left;
}
.t-right {
  text-align: right;
}
.t-justify {
  text-align: justify;
}

/* colors */
.black {
  color: var(--b-color);
}
.orange {
  color: var(--p-color);
}
.white {
  color: var(--w-color);
}
.grey {
  color: var(--dg-color);
}

.g-color {
  color: var(--g-color);
}

.f-capitalize {
  text-transform: capitalize;
}

.ourspacing {
  padding-top: 100px;
  padding-bottom: 100px;
}

.endor .slick-slide img {
  display: block;
  margin: auto;
}

.bgimageserve {
  background-image: url(../public/images/servicesmobile/bottom-shade.webp);
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.imgspacetop {
  padding-left: 5px;
  padding-right: 5px;
}
.sector {
  align-items: center;
  justify-content: center;
}

/* ==================================== */

.testtimonials .slick-slider .slick-prev {
  display: none !important;
}

.testtimonials .slick-slider .slick-next {
  top: 90%;
  right: 0;
}

.testtimonials .slick-slider .slick-next:before {
  content: url(../public/images/icons/arrow.webp);
  opacity: 1;
}

.accordion-header {
  border: 1px solid #c5c5c5;
}

.accordion-item {
  border: unset;
  text-align: left;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.accordion-button:focus {
  border-color: unset;
  outline: 0;
  box-shadow: unset;
}

.accordion-button:not(.collapsed) {
  color: #000000;
  background-color: #fff;
  box-shadow: 0;
  border: 0;
}

.accordion-header button {
  display: flex;
  align-items: center;
  padding: 13px 20px !important;
  height: auto;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  border: unset;
  text-align: left;
  position: relative;
}

.headimg .d-block img {
  transform-origin: top right;
  animation: 0.5s ease-in-out forwards growLeft;
  margin: 0 auto;
  display: block;
}

@keyframes growLeft {
  0% {
    transform: scaleX(0);
  }
  80% {
    transform: scaleX(1.1);
  }
  100% {
    transform: scaleX(1);
  }
}

.getmodalvideo .modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: unset;
  background-color: #000000;
}
.getmodalvideo {
  background-color: black;
  z-index: 9999;
}

/* =================Media Queries=================== */

@media screen and (max-width: 767px) {
  .f-60 {
    font-size: 35px;
  }
  .lheight70 {
    line-height: 45px;
  }
  .d-sm-none {
    display: none !important;
  }
  .herofold {
    padding: 18% 0 4%;
  }
}
