 .herofold {
    background-color: var(--w-color);
    min-height: inherit;
    padding: 14% 0 4%;
    background-image: url(../public/images/homebanner/bottom-shade.webp);
    background-position: bottom center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
}
.arrowBtn {
    font-size: 20px;
    font-weight: 800;
    line-height: 1.2;
    font-family: Montserrat;
    text-transform: uppercase;
    color: var(--p-color);
    display: flex;
    align-items: flex-end;
    margin-bottom: 2px;
}
.arrowBtn:hover{
    color: var(--p-color);
}
.arrowBtn img{
    margin-left: 1%;
}
.ratingNumber{
    font-size: 250px;
    color: #e5e5e5;
    line-height: 215px;
    font-weight: 400;
    font-family: 'Bebas Neue', sans-serif;
}
.rowalign{
    justify-content: space-between;
}

@media screen and (max-width: 991px) {

    .herofold {
    
        display: flex;
        align-items: center;
        
    }

}

@media screen and (max-width: 480px) {

    .herofold {
        height: unset;
        padding: 150px 0 50px;
    }

}